@import "reset";
@import "fonts";
@import "colors";
@import "960";
@import "lectric";

@mixin opacity($opacity) {
  -moz-opacity: $opacity;
  -khtml-opacity: $opacity;
  opacity: $opacity;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity * 100)";
}

.top-wrapper {
	background-color: #F0F0F0;
	.top {
		position: relative;
		width: 960px;
		height: 400px;
		margin: 0 auto;
		.header {
			position: absolute;
			top: 40px;
			left: 0px;
			
			h1 {
				font-family: DF-GameOverRegular, helvetica, arial;
				font-size: 45pt;
				color: $green;
			}
			p {
				font-family: MinionProBold, helvetica, arial;
			}
		}
		.message {
			position: absolute;
			right: 375px;
			bottom: 30px;
			width: 400px;
		}
		.image {
			position: absolute;
			right: 30px;
			bottom: 0px;
		}
	}
}

.lower-wrapper {
	margin-bottom: 200px;
	.lower {
		h2 {
			padding-bottom: 10px;
			text-transform: uppercase;
			border-bottom: 1px solid $green;
			color: $green;
			display: block;
			font-weight: bold;
			margin-bottom: 10px;
		}
		
		.quotes {
			margin-top: 40px;
		}
		
		.quote {
		}
		
		.portfolio {
			margin-top: 40px;
			
			.item {
				float: left;
				display: block;
				width: 150px;
				margin-right: 50px;
				cursor: pointer;
				.image {
					background-image: url(/img/portfolio_bomb.png);
					background-repeat: no-repeat;
					height: 153px;
					width: 158px;
					@include opacity(0.5);
				}
				h3 {
					margin-top: 10px;
					text-align: center;
					font-weight: bold;
					color: $pink;
				}
			}
			.item:hover .image {
				@include opacity(1);
			}
		}
		
		.content {
			border: 1px solid $green;
			border-top: none;
			padding: 30px;
			min-height: 500px;
			margin-bottom: 200px;
		}
		
		.arrow-container {
			display: block;
			height: 26px;
			margin-top: 20px;
			position: relative;
			border-bottom: 1px solid $green; 
			
			#arrow {
				position: absolute;
				bottom: -1px;
				left: 0px;
				background-color: #FFFFFF;
				background-image: url(/img/pil2.png);
				background-repeat: no-repeat;
				width: 30px;
				height: 26px;
			}
		}	
		
		
	}
}	

.last {
	margin-right: 0px !important;
}

body {
	font-family: Quattrocento, helvetica, arial;
}

.slider {
	position: relative;
	.next, .previous {
		position: absolute;
		top: 15%;
		background-repeat: no-repeat;
		width: 400px;
		height: 85%;
		@include opacity(0);
	}
	.next:hover, .previous:hover {
		@include opacity(1.0);
	}
	
	.next {
		left: 40px;
		background-image: url(/img/pil-left.png);
		background-position: center left;
	}
	.previous {
		right: 40px;
		background-image: url(/img/pil.png);
		background-position: center right;
	}
}

.portfolio-items {
	.item {
		width: 900px;
		margin-right: 20px;
		.info {
			color: $green;
			height: 70px;
			overflow: hidden;
			position: relative;
			.header {
				font-style: italic;
				font-weight: bold;
			}
			.extra {
				position: absolute;
				font-size: 80%;
				right: 2px;
				top: 0px;
			}
		}
	}
}